<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>ejer12</filter-name>
        <filter-class>net.daw.filtros.ejer12</filter-class>
    </filter>
    <filter>
        <filter-name>eje11</filter-name>
        <filter-class>net.daw.filtros.eje11</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>eje11</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ejer12</filter-name>
        <url-pattern>/ejer12/privada01.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ejer01peticionHTTP</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer01peticionHTTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer02loginform</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer02loginform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer03Calculadora</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer03Calculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer04combosEncadenados</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer04combosEncadenados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer05contador</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer05contador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer06contadorSesion</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer06contadorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer07login</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer07login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer08carrito</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer08carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer09superContador</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer09superContador</servlet-class>
        <init-param>
            <param-name>fichero</param-name>
            <param-value>contador.txt"</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ejer10chat</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer10chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer12filtro</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer12filtro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejer11</servlet-name>
        <servlet-class>net.daw.ejercicios2013.ejer11</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ejer01peticionHTTP</servlet-name>
        <url-pattern>/ejer01peticionHTTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer02loginform</servlet-name>
        <url-pattern>/ejer02loginform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer03Calculadora</servlet-name>
        <url-pattern>/ejer03Calculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer04combosEncadenados</servlet-name>
        <url-pattern>/ejer04combosEncadenados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer05contador</servlet-name>
        <url-pattern>/ejer05contador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer06contadorSesion</servlet-name>
        <url-pattern>/ejer06contadorSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer07login</servlet-name>
        <url-pattern>/ejer07login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer08carrito</servlet-name>
        <url-pattern>/ejer08carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer09superContador</servlet-name>
        <url-pattern>/ejer09superContador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer10chat</servlet-name>
        <url-pattern>/ejer10chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer12filtro</servlet-name>
        <url-pattern>/ejer12filtro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejer11</servlet-name>
        <url-pattern>/ejer11</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
